---
const { imgLink, imgAlt, descText, descLink } = Astro.props;
---

<div class="flex flex-col my-12">
  <a href={imgLink} target="_blank" data-fancybox>
    <img src={imgLink} alt={imgAlt} class="rounded-lg" />
    <div
      class="text-left text-[var(--ternary-gray)] text-lg hover:text-[var(--primary-white)] transition-all mt-4">
      {
        descLink ? (
          <a href={descLink} target="_blank" class="underline">
            <small>{descText}</small>
          </a>
        ) : (
          <div>
            <small>{descText}</small>
          </div>
        )
      }
    </div>
  </a>
</div>

<style>
  img {
    box-shadow: 0px 4px 36.8px -22px rgba(149, 149, 149, 0.2);
  }
</style>
<script>
  // Include Lightbox
  import { Fancybox } from "@fancyapps/ui";
  import "@fancyapps/ui/dist/fancybox/fancybox.css";
  document.addEventListener("astro:page-load", () => {
    Fancybox.bind("[data-fancybox]", {
      contentClick: "toggleCover",
      Images: {
        Panzoom: {
          panMode: "mousemove",
          mouseMoveFactor: 1.1,
          mouseMoveFriction: 0.12,
        },
      },
    });
  });

  // document.addEventListener("astro:page-load", () => {

  //   });
</script>
